{% extends 'base.html' %}
{% block body %}
<div class="container mt-4">
  <h1>Cars</h1>
  <form method="get" class="mb-3">
    <select name="brand" class="form-select" onchange="this.form.submit()">
      <option value="">All Brands</option>
      {% for brand in brands %}
      <option value="{{ brand.name }}" {% if brand.name == request.GET.brand %}selected{% endif %}>
        {{ brand.name }}
      </option>
      {% endfor %}
    </select>
  </form>
  <div class="row">
    {% for car in cars %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ car.title }}</h5>
          <p class="card-text">{{ car.description }}</p>
          <p class="card-text"><strong>${{ car.price }}</strong></p>
          <a href="{% url 'car_detail' car.pk %}" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
